<a class="btn btn-mj w-100 rounded-pill mb-2" href="/gestor">Início</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/gestor/lives">Lives</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/gestor/moodle/cursos">Cursos Moodle</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/gestor/perfil">Meu perfil</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/gestor/proficiencia">Proficiência</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/gestor/alertas">Alertas</a>
<a class="btn btn-mj-outline w-100 rounded-pill" href="/gestor/relatorios">Relatórios</a>
