<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/aluno">Início</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/aluno/portugues">Português</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/aluno/matematica">Matemática</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/aluno/medalhas">Medalhas</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/suporte/meus-chamados">Meus chamados</a>
<a class="btn btn-mj-outline w-100 rounded-pill" href="/aluno/configuracoes">Meu perfil</a>
