<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin">Início</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/perfil">Meu perfil</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/escolas">Escolas</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/turmas">Turmas</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/cursos">Cursos</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/trilhas">Trilhas</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/usuarios">Usuários</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/descritores">Descritores SAEB</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/atividades-h5p">Atividades H5P</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/admin/suporte">Chamados de suporte</a>
