{% extends "base_dashboard.html" %}
{% block page_title %}{{ atividade.titulo }}{% endblock %}
{% block brand_link %}/aluno{% endblock %}
{% block menu_title %}Atividade da Turma{% endblock %}

{% block header_right %}
{% include "aluno/partials/aluno_header_stats.html" %}
{% endblock %}

{% block offcanvas_links %}
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/aluno">Início</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/aluno/trilhas">Trilhas</a>
<a class="btn btn-mj w-100 rounded-pill mb-2" href="/aluno/atividade-professor/{{ atividade.id }}">Esta atividade</a>
{% endblock %}
{% block offcanvas_extra %}
{% include "aluno/partials/aluno_offcanvas_info.html" %}
{% endblock %}

{% block main_content %}
{% include "aluno/partials/h5p_player_standalone.html" %}
{% endblock %}
