<a class="btn btn-mj w-100 rounded-pill mb-2" href="/professor{{ turma_query_suffix|default('') }}">Início</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/professor/desempenho-descritores{{ turma_query_suffix|default('') }}">Desempenho</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/professor/radar-alunos{{ turma_query_suffix|default('') }}">Radar de Alunos</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/professor/chat-duvidas{{ turma_query_suffix|default('') }}">Dúvidas Chatbot</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/professor/relatorios{{ turma_query_suffix|default('') }}">Relatórios</a>
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/professor/atividades">Minhas Atividades</a>
<!-- <a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/professor/atividades/nova">Nova atividade</a> -->
<a class="btn btn-mj-outline w-100 rounded-pill mb-2" href="/professor/descritores">Descritores</a>
<a class="btn btn-mj-outline w-100 rounded-pill" href="/professor/perfil">Meu perfil</a>
